{% extends 'layout/base.html' %}

{% block content %}

<div class="container mt-4">
    <h1 class="text-center">Creación de cartas</h1>
    <div class="card mb-4">
        <div class="card-header">
            <h5 class="mb-0">Ingrese los datos solicitados:</h5>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %} {{ form.as_p}}
                        <button class="btn btn-primary" type="submit">Guardar</button>
                    </form>
                </div>
        </div>
    </div>
</div>

{% endblock %}